<!DOCTYPE html>
<html>
<head>
<title>主页</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--Custom Theme files-->
<link href="static/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="static/style.css" type="text/css" rel="stylesheet" media="all">
<link href="static/index.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="static/swipebox.css">
<!--//Custom Theme files-->
<!--js-->
<script src="static/js/jquery-1.11.1.min.js"></script>
<!--//js-->
<!--start-smooth-scrolling-->
<script type="text/javascript" src="static/js/move-top.js"></script>
<script type="text/javascript" src="static/js/easing.js"></script>
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
		
		$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!--//end-smooth-scrolling-->	
</head>
<body>
	<!--banner-->
	<div class="banner">
		<div class="header"><!--header-->
			<div class="container">		
				<nav class="navbar navbar-default">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<h1><a  href="index.html">博雅</a></h1>
					</div>
					<!--navbar-header-->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="welcome.html" class="active">主页</a></li>
							<li><a href="#about" class="scroll">精品课程</a></li>
							<li><a href="#team" class="scroll">教师风采</a></li>
							<li><a href="#contact" class="scroll">联系我们</a></li>
						</ul>	
						<div class="clearfix"> </div>	
					</div>
				</nav>
			</div>
			<div class="cd-main-header">
				<ul class="cd-header-buttons">
					<li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
				</ul> <!-- cd-header-buttons -->
			</div>
			<div id="cd-search" class="cd-search">
				<form action="#" method="post">
					<input name="Search" type="search" placeholder="Search...">
				</form>
			</div>
		</div>
		<!--//header-->
		<!--banner-text-->
		<div class="banner-text">
			<!--banner Slider starts Here-->
			<script src="static/js/responsiveslides.min.js"></script>
			<script>
				// You can also use "$(window).load(function() {"
				$(function () {
				  // Slideshow 3
				  $("#slider3").responsiveSlides({
					auto: true,
					pager: true,
					nav: false,
					speed: 500,
					namespace: "callbacks",
					before: function () {
					  $('.events').append("<li>before event fired.</li>");
					},
					after: function () {
					  $('.events').append("<li>after event fired.</li>");
					}
				  });
			
				});
			</script>
			<!--//End-slider-script-->
			<div  id="top" class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<h2>自然拼读<br>学习单词拼读基本规则</h2>
						<p>让孩子看到单词即可马上读出正确发音.</p>
						<a class="more hvr-bounce-to-right" href="#" data-toggle="modal" data-target="#myModal">Register Now</a>
					</li>
					<li>
						<h3><br>剑桥英语</h3>
						<p>孩子英语能力提升必备</p>
						<a class="more hvr-bounce-to-right" href="#" data-toggle="modal" data-target="#myModal">Register Now</a>
					</li>
					<li>
						<h3>课程同步辅导<br>同步课程进度</h3>
						<p> 跟随学校课堂进度,给孩子查漏补缺. </p>
						<a class="more hvr-bounce-to-right" href="#" data-toggle="modal" data-target="#myModal">Register Now</a>
					</li>
				</ul>
			</div>
		</div>
		<!--//banner-text-->
	</div>
	<!--//banner-->
	<!--about-->
	<div id="about" class="about">
		<div class="container">
			<div class="title">
				<h3>精品课程</h3>
				<p>学生反馈效果优异，极大的提高学习成绩。</p>
			</div>
			<div class="about-row">
				<div class="col-md-3 about-grids">
					<span class="glyphicon glyphicon-stats effect-1" aria-hidden="true"></span>
					<h4>自然拼读</h4>
					<p>让孩子看到单词即可马上读出正确发音
						轻松解决发音问题</p>
					<h6> </h6>
				</div>
				<div class="col-md-3 about-grids">
					<span class="glyphicon glyphicon-user effect-1" aria-hidden="true"></span>
					<h4>看图写画</h4>
					<p>帮助孩子建立叙述能力
						做到有话可说,叙事详尽逻辑清晰</p>
					<h6> </h6>
				</div>
				<div class="col-md-3 about-grids">
					<span class="glyphicon glyphicon-list-alt effect-1" aria-hidden="true"></span>
					<h4>剑桥英语</h4>
					<p>孩子英语能力提升必备
						帮助孩子建立完善的英语知识体系</p>
					<h6> </h6>
				</div>
				<div class="col-md-3 about-grids">
					<span class="glyphicon glyphicon-check effect-1" aria-hidden="true"></span>
					<h4>数学同步课程</h4>
					<p>同步中找不同,帮助孩子建立数学逻辑
						更好的将所学的知识应用在解决数学问题中</p>
					<h6> </h6>
				</div>
				<div class="clerfix"> </div>
			</div>
		</div>
	</div>
	<!--//about-->
	<!--team-->
	<div class="team" id="team">
		<div class="container">
			<div class="title">
				<h3>教师风采</h3>
				<p>我们拥有完整教辅体系和优质的金牌讲师. 欢迎有识之士加入我们的团队. </p>
			</div>
			<div class="team-row">
				<div class="col-md-3 team-grids">
					<img class="img-responsive" src="static/images/teacher/img1.jpg" alt="">
					<div class="captn">
						<h4>缑茹</h4>
						<p>校长</p>
						<div class="social-icons">
							<ul>
								<li><a href="#"> </a></li>
								<li><a href="#" class="fb"> </a></li>
								<li><a href="#" class="gp"> </a></li>
								<li><a href="#" class="drb"> </a></li>
							</ul>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-3 team-grids">
					<img class="img-responsive" src="static/images/teacher/img2.jpg" alt="">
					<div class="captn">
						<h4>马益江</h4>
						<p>副校长</p>
						<div class="social-icons">
							<ul>
								<li><a href="#"> </a></li>
								<li><a href="#" class="fb"> </a></li>
								<li><a href="#" class="gp"> </a></li>
								<li><a href="#" class="drb"> </a></li>
							</ul>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>	
				<div class="col-md-3 team-grids">
					<img class="img-responsive" src="static/images/teacher/img3.jpg" alt="">
					<div class="captn">
						<h4>张xx</h4>
						<p>老师</p>
						<div class="social-icons">
							<ul>
								<li><a href="#"> </a></li>
								<li><a href="#" class="fb"> </a></li>
								<li><a href="#" class="gp"> </a></li>
								<li><a href="#" class="drb"> </a></li>
							</ul>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-3 team-grids">
					<img class="img-responsive" src="static/images/teacher/img4.jpg" alt="">
					<div class="captn">
						<h4>张xx</h4>
						<p>老师</p>
						<div class="social-icons">
							<ul>
								<li><a href="#"> </a></li>
								<li><a href="#" class="fb"> </a></li>
								<li><a href="#" class="gp"> </a></li>
								<li><a href="#" class="drb"> </a></li>
							</ul>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>	
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--contact-->
	<div class="contact" id="contact">
		<div class="container">
			<div class="title">
				<h3>联系我们</h3>
				<p>如有问题，欢迎来电咨询或者来访。 </p>
			</div>
			<div class="contact-grids">
				<div class="col-md-5 address">
					<h4>联系方式</h4>
					<div class="address-row">
						<div class="col-md-2 address-left">
							<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
						</div>
						<div class="col-md-10 address-right">
							<h5>欢迎来访</h5>
							<p>陕西省西安市雁塔区金地西沣公元二期1号楼二单元301室 </p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="address-row">
						<div class="col-md-2 address-left">
							<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
						</div>
						<div class="col-md-10 address-right">
							<h5>联系我们</h5>
							<p>15389040591</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--//contact-->
	<!--smooth-scrolling-of-move-up-->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<!--//smooth-scrolling-of-move-up-->
	<!-- Include jQuery & Filterizr -->
    <script src="static/js/jquery.filterizr.js"></script>
    <script src="static/js/jquery.filterizr.js"></script>
    <script src="static/js/controls.js"></script>
    <!-- Kick off Filterizr -->
    <script type="text/javascript">
        $(function() {
            //Initialize filterizr with default options
            $('.filtr-container').filterizr();
        });
    </script>
	<!--//gallery-->
	<!-- swipe box js -->
	<script src="static/js/jquery.swipebox.min.js"></script>
	<script type="text/javascript">
			jQuery(function($) {
				$(".swipebox").swipebox();
			});
	</script>
	<!-- //swipe box js -->
	<!--search jQuery-->
	<script src="static/js/main.js"></script>
	<!--//search jQuery-->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/bootstrap.js"></script>
</body>
</html>