<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
 
    <link rel="stylesheet" type="text/css" href="static/login.css"/>
</head>
 
<body>
<div id="login_frame">
 
    <p id="image_logo"><img src="static/images/login/fly.png"></p>
    <form action="/loginaction" method="post">
        <p><label class="label_input">用户名</label><input type="text" name="username" id="username" class="text_field"/></p>
        <p><label class="label_input">密码</label><input type="password" name="password" id="password" class="text_field"/></p>
        <div id="login_control">
            <button type="submit" id="btn_login" class="btn btn-lg btn-primary btn-block" >登录</button>
            <a id="forget_pwd" href="forget_pwd.html">忘记密码？</a>
        </div>
    </form>
</div>
 
</body>
