<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>

    <link rel="stylesheet" type="text/css" href="static/login.css"/>
</head>

<body>
<div id="register_frame">

    <p id="image_logo"><img src="static/images/login/fly.png"></p>
    <form action="/registeraction" method="post">
        <p><label class="label_input">用户名</label><input type="text" name="username" id="username" class="text_field"/></p>
        <p><label class="label_input">密码</label><input type="password" name="password" id="password" class="text_field"/></p>
        <div id="login_control">
            <button type="submit" id="btn_register" class="btn btn-lg btn-primary btn-block" >注册</button>
        </div>
    </form>
</div>

</body>